.dashboard > h2 {
    color: #000000;
    font-size: 13px;

}
h3 {
    font-size: 13px;
    color: #000000;
}

.dashboard {
    background-color:#e6e9ed;
    width: 100%;

}

.profile-img{
    display: flex;
    background-color:aqua;
    height:100px;
    width: 100px;
    border-radius:50%;
    align-items: center;
    text-align:center;
    justify-content:center;
}

.dashboard_email{
    padding: 0px;
    margin: 0px;

}

.dashboard_edit{
    padding: 0px;
    margin: 0px;
    color: blue !important;
}

.dashboard_edit > h3{
    color:blue;
}

.dashboard_header {
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 10px;
    margin: 0 5px;
    background-color:rgb(245, 245, 245);
    border-radius: 10px;
    justify-content:center;
    align-items: center
}

.dashboard_performance{
    padding: 10px;
}
.dashboard_performance_items1{
    background-color:white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 2px;
}

.dashboard_header > h3{
    color: #1F3BB3
}

hr {
    border: 1px solid #1F3BB3
}

.dashboard_pages{
    padding: 10px;
    /* overflow-y: scroll;
    height: 200px;
    scroll-behavior: smooth; */
}


.dashboard_pages_items1{
    background-color:white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

/* .dashboard_pages > h2{
    color: white;
}

.dashboard_pages_items > h2 {
    color: white;
} */

.text_header {
    padding: 10px;
}

.dashboard_info{
    padding: 10px;
}

.Scroll{

    overflow-y: scroll;
    height: 350px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
    
}




@media screen and (max-width: 750px) {
    h2 {
        font-size: var(--mobile_text_size);
        font-family: var(--mobile_font_family);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: normal;
        line-break: auto;
        font-size: 0.875rem;
        word-wrap: break-word;
        opacity: 10;
    }

    h3 {
        font-size: 10px;
        color: #000000;
    }

    .dashboard_performance_items1{
        background-color:white;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 2px;
    }

    .dashboard_pages_items1{
        background-color:white;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 2px;
    }

    /* .dashboard_pages_items{
        overflow-y: scroll;
        height: 200px;
        
    } */

    .dashboard_pages{
        padding: 5px;
    }

    .dashboard_performance{
        padding: 5px;
    }

    .dashboard_header {
        display: flex;
        padding: 5px;
        margin: 0 5px;
        background-color:rgb(245, 245, 245);
        border-radius: 10px;
        justify-content:center;
    }
    .Scroll{

        overflow-y: scroll;
        height: 250px;
        scroll-behavior: smooth;
        scrollbar-width: none;
        
        
    }
    

}