.admin {
  margin: 0;
  padding: 0;
}

.admin_top {
  height: 100px;
}
.admin_main {
  display: flex;
}

.admin_sidebar {
  flex: 0.3;
}

.admin_body {
  flex: 1;
  width: 100%;
}

.users {
  flex: 0.4;
  background-color:rgb(213, 204, 204);
  border-radius: 20px;
}

.admin_status {
  display: flex;
  background-color:rgb(247, 235, 235);
}

.users_post_text {
  padding-left: 30px;
  color: black;
}

.admin_status1 {
  flex: 0.5;
  width: 100%;
  height: 120px;
  background-color: rgb(254, 254, 255);
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.admin_status1_items {
  display: flex;
  text-align: center;
  align-items: center;
  flex: 0.5;
  justify-content: center;
}

/* .admin_status2{
    flex: 0.5;
    width: 100%;
    height: 150px;
    background-color:blue */
/* } */

@media screen and (max-width: 750px) {
  h2 {
    font-size: var(--mobile_text_size);
    font-family: var(--mobile_font_family);
    color: var(--mobile_text_color);
    font-style: normal;
    font-weight: var(--mobile_text_weight);
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    word-wrap: break-word;
    opacity: 10;
  }

  .admin_main {
    display: flex;
    flex-direction: column;
  }
  .admin_sidebar {
    display: none;
  }

  .admin_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
    /* width: 100%; */
  }

  .admin_status1 {
    flex: 1;
    background-color: rgb(232, 223, 223);
    margin: 0px 20px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
  }
  
  .admin_status1_items {
    background-color:rgb(254, 254, 255);
    border-radius: 10px;
    height: 100px;
    margin:30px 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex: 0.5;
    justify-content: center;
  }


}
