@import "./cssVariables.css";


 h2 {
  color: var(--mobile_text_color);
}

/* .techlist_headline {
  display: flex;
  /* border: 1px solid black; */
  /* justify-content: stretch;
  align-items: center;
  width: 100%;
} */ 




/* .techlist_footer{
  background-color:#242526
} */

.techlist_footer_category_item{
  display: flex;
  align-items: start;
  justify-content:stretch;
  flex-wrap: wrap;
}

.techlist_footers_category{
  padding: 0;
}


.techlist_footer_category_item > div {
  margin: 5px 5px 5px 5px;
  padding: 1px 5px 1px 5px;
  background-color: var(--black)
}

.techlist_footer_category_item1 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: var(--black)
}
.techlist_footer_getInTouch_item{
  margin: 10px;
}


Link {
  text-decoration: none;
  
}


.techlist_footer_items_component{
  background-color: rgb(182, 58, 58);
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(rgb(36, 30, 30), rgb(67, 67, 107));
}

.techlist_footer_category_title{
  margin-bottom: 5px;
  padding-top: 20px

}


.techlist_footer_category{
  padding: 0px;
}

.techlist_footer_category_item{
  display: flex;
  align-items: start;
  justify-content:stretch;
  flex-wrap: wrap;
}


@media screen and (max-width: 750px) {
    h2 {
        font-size: var(--mobile_text_size);
        font-family: var(--mobile_font_family);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: normal;
        line-break: auto;
        font-size: 0.875rem;
        word-wrap: break-word;
        opacity: 10;
    }




  .techlist_footer_items {
    /* border: 1px solid black; */
    margin: 30px 30px 0px 30px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
  .techlist_footer_items1 {
    width: 100%;
    /* border: 1px solid black; */
    
  }
  .techlist_footer_items_component {
    width: 100%;
    /* border: 1px solid black; */
    
  }
  .techlist_footer_items3 {
    width: 100%;
    /* border: 1px solid blac; */

  }

  .techlist_brand {
    width: 100%;
    
  }




}
