.detail_main > h2 {
  color: black;
}

.detail_main {
  display: flex;
}

.detail_cards {
  flex: 1;
}

.detail_advertise {
  flex: 0.6;
  padding-left: 10px;
}

@media screen and (max-width: 750px) {
  .detail_main {
    display: flex;
    flex-direction: column;
  }
  .detail_advertise > h2 {
    color: black;
  }
  
}
