.profile_edit_form {
    /* margin: 50px 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 87, 87);
    background-image: linear-gradient(rgb(24, 5, 5), rgb(14, 225, 240))

}

input {
    
}

form {
    margin:0px 300px;
}



@media screen and (max-width: 750px) {
    h2 {
        font-size: var(--mobile_text_size);
        font-family: var(--mobile_font_family);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: normal;
        line-break: auto;
        font-size: 0.875rem;
        word-wrap: break-word;
        opacity: 10;
    }

    .profile_edit_form {
        /* margin: 50px 100px; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(136, 87, 87);
        background-image: linear-gradient(rgb(24, 5, 5), rgb(14, 225, 240))
    
    }
    
    input {
        
    }
    
    form {
        margin:0px 50px;
    }

    .profile_edit_input >input {
        height: 5px;
    }

    .profile_edit_input >label {
        font-size: 12px;
    }

    .profile_edit_input_button > button {
        display: flex;
        align-items: center;
        justify-content:center;
        width: 40%;
        color: rgb(0, 17, 255);
        height: 20px;

 
    }
    .profile_edit_input_button > button {
        /* colo */
    }
}